@font-face {
  font-family: Winkle;
  src: url("Winkle-Regular.ttf");
}

body {
  background-color: #fff2e1;
  font-family: Winkle, sans-serif;
}

.icon_div {
  margin-top: 30px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  height: 60px;
}

.body_div {
  border-radius: 20px;
  border: 6px solid #ead8c0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 85%;
  max-width: 500px;
}

.edit_text {
  font-size: 26px;
  letter-spacing: 1px;
  color: #a79277;
  text-align: center;
}

.profile_div {
  margin-top: -5px;
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.profile_pic {
  height: 70px;
}

.name_text {
  letter-spacing: 1px;
  color: #846c4e;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 15px;
  margin: 0;
}

.username_text {
  color: #b6c7aa;
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 18px;
  margin: 0;
}

.form_div {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.form_class {
  width: 93%;
}

.table_label {
  color: #a79277;
  font-size: 20px;
  margin-bottom: -5px;
  letter-spacing: 1px;
}

.birthday_div {
  width: auto;
  height: auto;
}

.insta {
  color: #749864;
}

.label {
  color: #a79277;
  font-size: 20px;
  letter-spacing: 1px;
}

.input {
  width: 93%;
  font-family: Winkle, sans-serif;
  color: #749864;
  background-color: #eaf0e3;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  height: 20px;
  border: 3px solid #b6c7aa;
  margin-bottom: 15px;
  margin-top: 5px;
}

.song_input {
  width: 93%;
  font-family: Winkle, sans-serif;
  color: #749864;
  background-color: #eaf0e3;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  height: 20px;
  border: 3px solid #b6c7aa;
  margin-bottom: 15px;
  margin-top: 5px;
}

.song_label {
  color: #749864;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: -5px;
  margin-top: 10px;
}

.song_detail_label {
  color: #a79277;
  font-size: 18px;
  margin-bottom: 10px;
}

.submit_button {
  font-family: "Winkle", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  font-size: 26px;
  border: 3px solid #a79277;
  border-radius: 13px;
  background-color: #ead8c0;
  color: #907b61;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.next_div {
  margin: auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 10px;
}

.bottom_div {
  height: 40px;
  width: 10px;
}
